@model MHR_V02.ViewModels.Base.UserViewModel

@{
    ViewData["Title"] = @ViewData["Edit"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-4">
    <h1 class="text-center text-warning">@ViewData["EditUser"]</h1>
    <hr />
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm p-4">
                <div class="card-body">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="mb-3">
                            <label asp-for="FirstName" class="form-label">@ViewData["FirstName"]</label>
                            <input asp-for="FirstName" class="form-control" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="LastName" class="form-label">@ViewData["LastName"]</label>
                            <input asp-for="LastName" class="form-control" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Email" class="form-label">@ViewData["Email"]</label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <input type="hidden" asp-for="Id" />

                        <div class="form-check mb-3">
                            <input class="form-check-input" asp-for="IsActive" />
                            <label class="form-check-label">
                                @Html.DisplayNameFor(model => model.IsActive)
                            </label>
                        </div>

                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">@ViewData["Save"]</button>
                        </div>
                    </form>
                </div>
                <div class="card-footer text-end">
                    <a asp-action="Index" class="btn btn-secondary">@ViewData["BacktoList"]</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
