@model MHR_V02.ViewModels.Base.ManageRolesViewModel

@{
    ViewData["Title"] = @ViewData["UserDetails"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-4">
    <h2 class="text-center text-primary">@ViewData["ManageRolesFor"]</h2>
    <h2 class="text-center text-primary">@Model.UserName</h2>
    <hr />
    <form asp-action="ManageRoles" method="post">
        <input type="hidden" asp-for="UserId" />
        @if (Model.Roles != null && Model.Roles.Any())
        {
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>@ViewData["RoleName"]</th>
                        <th>@ViewData["Assigned"]</th>
                    </tr>
                </thead>
                <tbody>
                    @for (var i = 0; i < Model.Roles.Count; i++)
                    {
                        <tr>
                            <td>@Model.Roles[i].Name</td>
                            <td>
                                <input type="checkbox" asp-for="Roles[i].IsSelected" />
                                <input type="hidden" asp-for="Roles[i].Id" />
                            </td>
                        </tr>
                    }


                </tbody>
            </table>
        }
        else
        {
            <p class="text-danger">@ViewData["Noactionsfound"]</p>
        }

        <div class="text-end">
            <button type="submit" class="btn btn-success">@ViewData["SaveChanges"]</button>
            <a asp-action="Index" class="btn btn-secondary">@ViewData["BacktoUsers"]</a>
        </div>
    </form>
</div>